.recipe-small-card
  %h2
    = recipe.title
  .description
    %img(src="#{recipe.image_link}")
    %br
    = recipe.instructions.truncate(200, separator: ' ')
    = link_to 'Show more...', show_recipe_path(recipe)
