// Place all the styles related to the recepies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.recipe-small-card {
  height: auto;
  min-height: 200px;
  width: 600px;
}