// Place all the styles related to the recepies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.recipe-small-card {
  height: auto;
  min-height: 200px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.recipe-card {
  width: 600px;
  .ingredient {
    display: flex;
    justify-content: flex-start;
    .title {
      width: 150px;
    }
    .amount {
      width: 300px;
    }
    .consitency {
      width: 150px;
    }
  }
}